body{
	text-align:center;
}
.cuadrado-color{
	background-color: #F8E0EC;
	border: 1px dashed black;
	padding-bottom:20px;

}
.info{
	padding-bottom:40px;
}

.imagenRedonda {
    width:300px;
    height:300px;
    border-radius:150px;
    border: 2px dashed black;
}

/* ir a la pagina  google font*/
p{
	 color:#3B0B39;
   	font-family:'Saira Semi Condensed', sans-serif;
}

.cachorro{
	 width:300px;
    height:300px;
    border-radius:150px;

    border: 2px dashed black;
}
h1{
	font-family:'Dancing Script', cursive;
}
h2,h3{
	font-family:'Courgette', cursive;
}
.info{
	background-color: #D8D8D8;
 	border: 1px dashed black;
}

.enlaces{
	background-image: url("https://thumbs.dreamstime.com/z/background-dog-paw-print-bone-35788678.jpg");
	font-family:'Courgette', cursive;
	border: 1px dashed black

}